.travelSearchContainer {
	width: calc(100vw - (100vw - 100%));
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	padding-top: 25px;
}

.travelBoxSearchContainer {
	width: 90%;
	height: 200px;
	border: 1px solid rgba(153, 153, 153, 0.699);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	box-shadow: var(--shadow--3d--big);
}

.travelBoxSearchLabelsContainer {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.travelBoxSearchLabelsContainerReverse {
	flex-direction: column-reverse;
}
.travelBoxSearchLabels {
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 65px;
	font-family: var(--ff--Mont);
	color: var(--clr--black);
	text-transform: capitalize;
}

.travelBoxSearchLabelsSpan {
	color: var(--clr--purple);
}

.travelBoxSearchInputsContainer {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.travelBoxSearchInputWithIcon {
	position: relative;
}

.travelBoxSearchInputs {
	width: 300px;
	padding: 10px;
	padding-left: 50px;
	margin-top: 10px;
	color: var(--clr--hard--grey);
	border-radius: 5px;
	border: 1px solid var(--clr--xlight--grey);
	border-left: 2px solid var(--clr--light--grey);
	border-bottom: 2px solid var(--clr--light--grey);
	font-family: var(--ff--Mont);
	text-transform: capitalize;
	border: none;
	box-shadow: var(--shadow--3d--medium);
}
.travelBoxSearchSelector {
	width: 360px;
	padding: 10px;
	margin-top: 15px;
	color: var(--clr--hard--grey);
	border-radius: 5px;
	font-family: var(--ff--Mont);
	text-transform: uppercase;
	border: none;
	box-shadow: var(--shadow--3d--medium);
	text-align: center;
	color: #000;
	font-weight: 700;
}

.travelBoxSearchInputsIcon {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 13px;
	left: 12px;
}

.travelBoxSearchInputsArrow {
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	right: 5px;
	rotate: 90deg;
	z-index: 1;
}

@media only screen and (max-width: 1450px) {
	.travelBoxSearchLabels {
		font-size: 55px;
	}
}
@media only screen and (max-width: 1230px) {
	.travelBoxSearchLabels {
		font-size: 48px;
	}
}
@media only screen and (max-width: 1100px) {
	.travelBoxSearchContainer {
		width: 97%;
	}
	.travelBoxSearchInputs {
		width: 280px;
	}
	.travelBoxSearchSelector {
		width: 340px;
	}
}
@media only screen and (max-width: 1000px) {
	.travelBoxSearchLabels {
		font-size: 38px;
	}
	.travelBoxSearchInputs {
		width: 230px;
	}
	.travelBoxSearchSelector {
		width: 290px;
	}
}

@media only screen and (max-width: 800px) {
	.travelBoxSearchLabels {
		font-size: 30px;
	}
}

@media only screen and (max-width: 850px) {
	.travelBoxSearchContainer {
		width: 100%;
		flex-direction: column;
	}
	.travelBoxSearchLabelsContainer {
		width: 100%;
	}
	.travelBoxSearchLabels {
		width: 100%;
		text-align: center;
		padding: 0;
		font-size: calc(20px + 4vw);
	}
	.travelBoxSearchInputs {
		width: 300px;
	}
	.travelBoxSearchSelector {
		width: 360px;
	}
}

@media only screen and (max-width: 410px) {
	.travelBoxSearchInputs {
		width: 220px;
	}
	.travelBoxSearchSelector {
		width: 280px;
	}
}
