.containerResultsHover {
	width: 180px;
	height: 295px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: flex-end;
	align-self: center;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.62);
	-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.62);
	border-radius: 15px;
	padding: 5px;
	opacity: 0;
	transition: all 0.3s linear;
}

/* CARD CONTAINER */
.cardUniversitySearchResult--container {
	width: 400px;
	min-height: 260px;
	border: 1px solid var(--clr--light--grey);
	border-bottom: 2px solid var(--clr--light--grey);
	border-right: 2px solid var(--clr--light--grey);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
	color: #6d6d6d;
	background: white;
	padding: 20px;
	position: relative;
	margin: 10px;
}
.cardUniversitySearchResultPar {
	box-shadow: var(--shadow--3d--small);
}
.cardUniversitySearchResultPar:hover {
	transform: scale(1.01);
	color: #000000;
	transform: scale(1.01);

	box-shadow: var(--shadow--3d--small--right);
}
.cardUniversitySearchResultImpar {
	box-shadow: var(--shadow--3d--small);
}
.cardUniversitySearchResultImpar:hover {
	transform: scale(1.01);
	color: #000000;
	box-shadow: var(--shadow--3d--small--left);
}
.cardUniversitySearchResultInfoHoverPar {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	z-index: 2;
	top: 10px;
	right: 25px;
	margin: 0 auto;
}
.cardUniversitySearchResultInfoHoverImpar {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	z-index: 2;
	margin: 0 auto;
}
.cardUniversitySearchResultInfoContainerOne {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: var(--ff--Mont);
	font-weight: 900;
}
.cardUniversitySearchResultInfoHover--iconUni {
	width: 25px;
	height: 25px;
}
.cardUniversitySearchResultInfoHover--type {
	font-family: var(--ff--Mont);
	font-size: 12px;
	text-align: center;
	font-weight: 800;
}
.cardUniversitySearchResultInfoContainerTwo {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.cardUniversitySearchResultInfoHover--iconPlace {
	width: 25px;
	height: 25px;
}
.cardUniversitySearchResultInfoHover--street {
	font-family: var(--ff--Mont);
	font-size: 12px;
	text-align: center;
	font-weight: 900;
}
/* LUGAR Y FAVORITO */
.cardUniversitySearchResult--top {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cardUniversitySearchResult--country {
	text-transform: capitalize;
	padding: 5px 0px 0px 20px;
	font-family: var(--ff--Mont);
	font-weight: 900;
	color: #000000;
	font-size: 16px;
}

.cardUniversitySearchResult--fav {
	width: 35px;
	height: 35px;
	cursor: pointer;
	padding: 5px 20px 0px 0px;
}
/* SECCION DE LINK */
.cardUniversitySearchResult--link {
	width: max-content;
	text-align: center;
	color: black;
	text-decoration: none;
	padding: 10px 0px;
	justify-self: flex-end;
	font-family: var(--ff--Mont);
}

.cardUniversitySearchResult--link:hover {
	color: var(--clr--purple);
	font-weight: 500;
}

.cardUniversitySearchResultArrowMore {
	width: 18px;
	height: 18px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: 0 auto;
}

.cardUniversitySearchResultArrowMore img {
	width: 25px !important;
}
.cardUniversitySearchResultArrowLess {
	width: 18px;
	height: 18px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: 0 auto;
	transform: rotate(-180deg);
}

.cardUniversitySearchResultArrowLess img {
	width: 25px !important;
}

.cardUniversitySearchResultArrowMoreRotate {
	transform: rotate(180deg);
}

/* MAIN DE LAS CARDS */

.cardUniversitySearchResult--center {
	width: 100%;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: var(--ff--Mont);
}

.cardUniversitySearchResult--center--hide {
	display: none;
}

.cardUniversitySearchResultN1--name {
	/* font-family: var(--ff--Heavy); */
	color: #000000;
	width: 70%;
	padding-left: 10px;
	margin-right: auto;
	text-align: start;
	font-size: var(--fs--name--cards--big);
	letter-spacing: 3px;
	color: #000000;
	font-weight: 900;
}
.cardUniversitySearchResultN1--description {
	font-size: var(--fs--desc--cards--large);
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.cardUniversitySearchResultN2--name {
	color: #000000;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	font-size: var(--fs--name--cards--medium);
	font-weight: 900;
}
.cardUniversitySearchResultN2--description {
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	font-size: var(--fs--desc--cards--large);
}
.cardUniversitySearchResultN3--name {
	color: #000000;
	width: 70%;
	font-size: var(--fs--name--cards--medium);
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
	letter-spacing: 3px;
}
.cardUniversitySearchResultN3--description {
	width: 90%;
	padding: 0px 5px 15px 5px;
	font-size: var(--fs--desc--cards--large);
}
.cardUniversitySearchResultN4--name {
	color: #000000;
	width: 45%;
	text-align: center;
	text-transform: capitalize;
	font-size: var(--fs--name--cards--small);
	font-weight: 900;
}
.cardUniversitySearchResultN4--description {
	width: 45%;
	font-size: var(--fs--desc--cards--large);
	letter-spacing: 1px;
	text-align: start;
}
.cardUniversitySearchResultN5--name {
	color: #000000;
	width: 100%;
	text-transform: capitalize;
	font-size: var(--fs--name--cards--big);
	text-align: start;
	padding-left: 20px;
	padding-bottom: 30px;
	font-weight: 900;
}
.cardUniversitySearchResultN5--description {
	padding-left: 10px;
	width: 90%;
	text-align: start;
	font-size: var(--fs--desc--cards--large);
}
.cardUniversitySearchResultN6--name {
	color: #000000;
	font-weight: 900;
	width: 100%;
	padding-left: 5px;
	text-align: center;
	font-size: var(--fs--name--cards--large);
	letter-spacing: 3px;
	font-weight: 900;
}
.cardUniversitySearchResultN6--description {
	width: 72%;
	padding-top: 10px;
	padding-left: 40px;
	text-align: justify;
	font-size: var(--fs--desc--cards--large);
}
.cardUniversitySearchResultN7--name {
	color: #000000;
	width: 60%;
	font-size: var(--fs--name--cards--xxbig);
	font-weight: 900;
	text-align: start;
	line-height: 50px;
	margin-right: auto;
	padding-left: 40px;
}
.cardUniversitySearchResultN7--description {
	font-size: var(--fs--desc--cards--large);
	width: 80%;
	text-align: start;
	padding-left: 15px;
	padding-top: 15px;
}
.cardUniversitySearchResultN8--name {
	color: #000000;
	width: 40%;
	font-size: var(--fs--name--cards--big);
	text-align: end;
	padding-bottom: 5px;
	padding-right: 5px;
	font-weight: 900;
}
.cardUniversitySearchResultN8--description {
	font-size: var(--fs--desc--cards--large);
	width: 50%;
	padding-left: 20px;
	padding-top: 20px;
	letter-spacing: 1px;
}
.cardUniversitySearchResultN9--name {
	color: #000000;
	width: 50%;
	margin-right: auto;
	font-size: var(--fs--name--cards--big);
	text-align: start;
	padding-left: 45px;
	font-weight: 900;
}
.cardUniversitySearchResultN9--description {
	font-size: var(--fs--desc--cards--large);
	margin-left: auto;
	width: 75%;
	padding-left: 5px;
	padding-top: 20px;
}
.cardUniversitySearchResultN10--name {
	color: #000000;
	width: 50%;
	margin-left: auto;
	font-size: var(--fs--name--cards--big);
	text-align: end;
	padding-right: 15px;
	font-weight: 900;
}
.cardUniversitySearchResultN10--description {
	font-size: var(--fs--desc--cards--large);
	margin-right: auto;
	width: 70%;
	text-align: justify;
	padding-left: 45px;
}
.cardUniversitySearchResultN11--name {
	color: #000000;
	width: 80%;
	padding: 0px 5px;
	font-size: var(--fs--name--cards--xsmall);
	letter-spacing: 3px;
	text-align: start;
	color: #000000;
	font-weight: 900;
}
.cardUniversitySearchResultN11--description {
	font-size: var(--fs--desc--cards--large);
	width: 85%;
	text-align: justify;
	padding-left: 15px;
	padding-top: 15px;
}
.cardUniversitySearchResultN12--name {
	color: #000000;
	transform: rotate(-90deg) translate(15%, -130px);
	width: max-content;
	font-size: var(--fs--name--cards--small);
	text-transform: capitalize;
	text-align: center;
	position: absolute;
	top: 190px;
	left: 80px;
	font-weight: 900;
}
.cardUniversitySearchResultN12--description {
	font-size: var(--fs--desc--cards--large);
	width: 70%;
	text-align: justify;
	margin-left: auto;
	padding-right: 35px;
	padding-top: 15px;
}
.cardUniversitySearchResultN13--name {
	color: #000000;
	font-size: var(--fs--name--cards--xsmall);
	width: 90%;
	text-align: center;
	font-weight: 900;
}
.cardUniversitySearchResultN13--description {
	font-size: var(--fs--desc--cards--large);
	width: 88%;
	text-align: center;
	padding-top: 15px;
}
.cardUniversitySearchResultN14--name {
	color: #000000;
	transform: rotate(-90deg) translate(40%, 150px);
	width: max-content;
	font-size: var(--fs--name--cards--small);
	margin-right: auto;
	text-align: start;
	padding-left: 15px;
	font-weight: 900;
	position: absolute;
	top: 240px;
	right: 120px;
}
.cardUniversitySearchResultN14--description {
	width: 65%;
	font-size: var(--fs--desc--cards--large);
	text-align: justify;
	margin-right: auto;
	padding-left: 20px;
}

@media only screen and (max-width: 1135px) {
	.cardUniversitySearchResultInfoHoverPar {
		width: max-content;
	}
	.cardUniversitySearchResultInfoHoverImpar {
		width: max-content;
	}
}
@media only screen and (max-width: 1065px) {
	.cardAndMap--containerImpar {
		margin-bottom: 35px;
	}
	.cardAndMap--containerPar {
		margin-bottom: 35px;
	}
	.cardUniversitySearchResultInfoHoverImpar {
		margin-right: 15px;
	}
	.cardUniversitySearchResultInfoHoverPar {
		margin-right: 15px;
	}
}
@media only screen and (max-width: 765px) {
	.cardAndMap--containerImpar {
		width: 100% !important;
		flex-wrap: wrap !important;
		flex-direction: column-reverse !important;
		justify-content: center !important;
		align-items: center !important;
	}
	.cardAndMap--containerPar {
		width: 100% !important;
		flex-wrap: wrap !important;
		flex-direction: column-reverse !important;
		justify-content: center !important;
		align-items: center !important;
	}

	.containerResultsHover {
		width: 85% !important;
		height: 150px;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		padding-top: 50px;
		display: none;
		transition: all 0.3 linear;
	}

	.cardUniversitySearchResultInfoHoverImpar {
		flex-direction: column;
		width: 100px;
		height: 180px;
		justify-content: space-evenly;
		margin-bottom: 50px;
	}
	.cardUniversitySearchResultInfoHoverPar {
		flex-direction: column;
		width: 100px;
		height: 180px;
		justify-content: space-evenly;
		margin-bottom: 50px;
	}
}
@media only screen and (max-width: 539px) {
	.cardUniversitySearchResult--container {
		width: 350px;
	}
}

@media only screen and (max-width: 490px) {
	.containerGeneratedMapAndCard {
		width: 100%;
	}
}
@media only screen and (max-width: 440px) {
	.containerGeneratedMapAndCard {
		width: 97%;
	}

	.cardUniversitySearchResult--container {
		width: 97%;
		border: none;
		padding: 5px;
		align-self: center;
		margin: 0px;
		margin-bottom: 15px;
	}
	.cardAndMap--containerImpar {
		width: 97% !important;
		align-self: center !important;
		align-items: center !important;
		padding: 5px;
	}
	.cardAndMap--containerPar {
		width: 97% !important;
		align-self: center !important;
		align-items: center !important;
		padding: 5px;
	}

	/* .cardUniversitySearchResultInfoHoverPar {
		width: 50% !important;
	}
	.cardUniversitySearchResultInfoHoverImpar {
		width: 50% !important;
	} */

	.cardUniversitySearchResultN14--name {
		top: 200px;
		right: 125px;
		padding: 0;
	}

	.cardUniversitySearchResultN12--name {
		top: 150px;
		padding-top: 25px;
	}

	.cardUniversitySearchResult--link {
		padding: 5px 20px;
	}

	.containerResultsHover {
		width: 94% !important;
	}
}
