/* BORDE EXTERIOR */
.cardUniversitySearchResult--border {
	border: 1px solid var(--clr--medium--grey);
	border-bottom: 2px solid var(--clr--medium--grey);
	border-right: 2px solid var(--clr--medium--grey);
	width: 400px;
	min-height: 300px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* CARD CONTAINER */
.cardUniversitySearchResult--container {
	width: 360px;
	min-height: 260px;
	border: 1px solid var(--clr--light--grey);
	border-bottom: 2px solid var(--clr--light--grey);
	border-right: 2px solid var(--clr--light--grey);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
}
/* LUGAR Y FAVORITO */
.cardUniversitySearchResult--top {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cardUniversitySearchResult--country {
	text-transform: capitalize;
	padding: 5px 0px 0px 20px;
}

.cardUniversitySearchResult--fav {
	width: 25px;
	cursor: pointer;
	padding: 5px 20px 0px 00px;
}
/* SECCION DE LINK */
.cardUniversitySearchResult--link {
	width: 100%;
	text-align: center;
	color: black;
	text-decoration: none;
	padding: 10px 0px;
	justify-self: flex-end;
}

/* MAIN DE LAS CARDS */

.cardUniversitySearchResult--center {
	width: 100%;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.cardUniversitySearchResultN1--name {
	width: 70%;
	padding-left: 10px;
	margin-right: auto;
	text-align: start;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 3px;
}

.cardUniversitySearchResultN1--description {
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

.cardUniversitySearchResultN2--name {
	width: 100%;
	padding-top: 35px;
	text-transform: uppercase;
	text-align: center;
	font-size: xx-large;
}

.cardUniversitySearchResultN2--description {
	width: 100%;
	text-align: center;
	padding: 40px 0px;
}
.cardUniversitySearchResultN3--name {
	width: 70%;
	font-size: x-large;
	text-transform: uppercase;
	text-align: center;
}

.cardUniversitySearchResultN3--description {
	width: 90%;
	padding: 0px 5px 45px 5px;
	font-size: 15px;
	text-transform: uppercase;
}

.cardUniversitySearchResultN4--name {
	width: 45%;
	text-align: center;
	text-transform: capitalize;
	font-size: 25px;
}

.cardUniversitySearchResultN4--description {
	width: 45%;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: start;
}

.cardUniversitySearchResultN5--name {
	width: 100%;
	text-transform: capitalize;
	font-size: xx-large;
	text-align: start;
	padding-left: 20px;
	padding-bottom: 30px;
}
.cardUniversitySearchResultN5--description {
	padding-left: 10px;
	width: 90%;
	text-align: start;
	font-size: 15px;
}
.cardUniversitySearchResultN6--name {
	width: 100%;
	padding-left: 5px;
	text-align: center;
	font-size: 30px;
	letter-spacing: 3px;
}

.cardUniversitySearchResultN6--description {
	width: 72%;
	padding-top: 10px;
	padding-left: 40px;

	text-align: justify;
	font-size: 15px;
}

.cardUniversitySearchResultN7--name {
	width: 60%;
	font-size: 55px;
	text-align: start;
	line-height: 50px;
	margin-right: auto;
	padding-left: 40px;
}

.cardUniversitySearchResultN7--description {
	width: 80%;
	text-align: start;
	padding-left: 15px;
	padding-top: 15px;
}

.cardUniversitySearchResultN8--name {
	width: 40%;
	font-size: 35px;
	text-align: end;
	padding-bottom: 5px;
	padding-right: 5px;
}

.cardUniversitySearchResultN8--description {
	width: 50%;
	padding-left: 20px;
	padding-top: 20px;
	letter-spacing: 1px;
}

.cardUniversitySearchResultN9--name {
	width: 50%;
	margin-right: auto;
	font-size: 35px;
	text-align: start;
	padding-left: 45px;
}

.cardUniversitySearchResultN9--description {
	margin-left: auto;

	width: 55%;
	padding-left: 5px;
	padding-top: 20px;
}

.cardUniversitySearchResultN10--name {
	width: 50%;
	margin-left: auto;
	font-size: 45px;
	text-align: end;
	padding-right: 15px;
}

.cardUniversitySearchResultN10--description {
	margin-right: auto;
	width: 45%;
	text-align: center;
	padding-left: 45px;
}

.cardUniversitySearchResultN11--name {
	width: 80%;
	padding: 0px 5px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 3px;
	text-align: start;
}

.cardUniversitySearchResultN11--description {
	width: 85%;
	font-size: 18px;
	text-align: justify;
	padding-left: 15px;
	padding-top: 15px;
}

.cardUniversitySearchResultN12--name {
	transform: rotate(-90deg) translate(40%, -150px);
	width: 100%;
	font-size: 30px;
	margin-right: auto;
}

.cardUniversitySearchResultN12--description {
	width: 70%;
	font-size: 15px;
	text-align: justify;
	margin-left: auto;
	padding-right: 35px;
	padding-top: 15px;
}

.cardUniversitySearchResultN13--name {
	width: 80%;
	font-weight: 600;
	text-align: center;
}

.cardUniversitySearchResultN13--description {
	width: 88%;
	font-size: 15px;
	text-align: center;
	padding-top: 15px;
}

.cardUniversitySearchResultN14--name {
	transform: rotate(-90deg) translate(40%, 150px);
	width: 100%;
	font-size: 30px;
	margin-right: auto;
	text-align: start;
	padding-left: 15px;
}

.cardUniversitySearchResultN14--description {
	width: 65%;
	font-size: 14px;
	text-align: justify;
	margin-right: auto;
	padding-left: 20px;
}
