.containerUniversitySearchResult {
	width: 95%;
	min-height: 500px;
	margin: 40px auto 20px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.cardAndMap--containerPar {
	width: max-content;
	padding: 5px;
	height: auto;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: flex-end;
}

.cardAndMap--containerImpar {
	width: max-content;
	padding: 5px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}
