.containerUniversitySearchResult {
	width: 1300px;
	margin: 0 auto;
	min-height: 500px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 300px;
}

.cardAndMap--containerPar {
	width: 450px;
	padding: 5px;
	height: auto;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: flex-end;
	position: relative;
	margin: 10px 15px 25px 15px;
}

.cardAndMap--containerImpar {
	width: 450px;
	padding: 5px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	position: relative;
	margin: 10px 15px 25px 15px;
}

@media only screen and (max-width: 1330px) {
	.containerUniversitySearchResult {
		width: 100%;
	}
}

@media only screen and (max-width: 1220px) {
	.containerUniversitySearchResult {
		flex-direction: column;
	}
}
