.map {
	width: 220px !important;
	height: 150px !important;
	opacity: 0.8;
	visibility: hidden;
	border-radius: 5px;
	z-index: 1;
	border: solid 15px white;
	outline: var(--clr--light--grey) solid 10px;
}
