.map {
	width: 100% !important;
	height: 220px !important;
	border-radius: 5px;
	z-index: 4;
	background-image: url("../Assets/icons/loading.webp");
	background-repeat: repeat-x;
	background-position: center;
	box-shadow: var(--shadow--3d--small);
}

@media only screen and (max-width: 765px) {
	.map {
		height: 180px !important;
		margin-bottom: 35px;
	}
}
