.map {
	width: 220px !important;
	height: 160px !important;
	border-radius: 5px;
	z-index: 1;
	margin-bottom: 55px;
	background-image: url("../Assets/icons/loading.webp");
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: var(--shadow--3d--small);
}
